<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link  rel="stylesheet" href="../static/css/registroStyl.css"  th:href="@{/css/registroStyl.css}">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
    <body>
            <section class="login-block">
                    <div class="container">
                    <div class="row">
                        <div class="col-md-4 login-sec">
                            <img src="../static/img/university.png" middle>
                            <form class="login-form">
                                    <form  method="post">
                                        
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Nombre"  />
                                    </div>
                                    <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Apellidos"  />
                                        </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Email *"   />
                                    </div>
                                    <div class="form-group">
                                        <input type="text" pattern="[0-9]{9}" class="form-control" placeholder="Telf.Contacto *"  />
                                    </div>

                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Contraseña *"  />
                                    </div>
                                    <div class="copy-text">
                                            <button type="submit" class="btn btn-login float-right">Registrarse</button>
                                   </div>
                                </form>
                               
                    </div>
                    <div class="col-md-8 banner-sec">
                             
                            
                    </div>
                </div>
            </section>

    </body>

</html>