<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Tus Reservas</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
</head>

<body data-spy="scroll" data-target="#navbarResponsive">

    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top text-uppercase">
            Texto de prueba
            <div class="collapse navbar-collapse" id="navbarResponsive">
                
            </div>
        </nav>
    </header>

	<section class="col-12 mt-0 container-fluid">
	    <div class="row justify-content-center">
	        <div class="col-md-5 text-center">
	            <h3 class="display-5 font-weight-bold text-uppercase pt-5 mt-3">reservas programadas</h3>
	            <hr class="lineaHor">
	        </div>
	    </div>

	    <div class="row" id="addReserva">
	        <div class=" col-lg-2"></div>
	        <div class=" col-lg-2 ">
	        	<a href="#" class="mx-auto nav-link text-secondary h5">
	        		<button type="button" class="btn mx-auto reserva text-white" data-dismiss="modal"><img src="../static/img/mas.png" class="pr-2">Añadir reserva</button>
	        	</a>
	        </div>
	    </div>

	    <div class="row justify-content-center">
	            <div class="col-lg-3 mt-3" th:each="reserva : ${listaReservas}">
	                <div class="row">
	                    <div class="col-lg-12">
				            <div  class="col-lg-12 border p-3 sombra rounded border-1 bg-white">
				                <div class="row">
				                    <span class="col-12 text-primary text-center">🔵 Programada</span>
				                    <span th:text="${#temporals.format(reserva.fechaReserva, 'dd-MMM-yyyy')}" class="col-12 pl-3 pt-3 text-center">26 de mayo, 2018</span>
				                	<span th:text="${reserva.horaInicio + ', 90 minutos'}" class="col-12 pl-3 pt-3 text-center">09:00</span>
				                    <span th:text="${reserva.pista.nombre}" class="col-12 pl-3 pt-3 text-center"> Aula de informática</span>
				                    <span class="col-12 pl-3 pt-3 text-center"> 
				                    	<a href="#" th:href="@{/admin/gestionUsuarios/borrar/{id}(id=${user.id})}">
				                    		<button type="button" class="btn reserva">Eliminar</button>
				                    	</a>
				                    </span>
				                </div>
				            </div>
	            			<div class="col-lg-2"></div>
	        			</div>
	        		</div>
	            </div>


	    </div>

	    <div class="row justify-content-center">
	        <div class="col-md-5 text-center">
	            <h3 class="display-5  font-weight-bold text-uppercase pt-5 ">reservas realizadas</h3>
	            <hr class="lineaHor">
	        </div>
	    </div>

	    <div class="row justify-content-center">
	            <div class="col-lg-3 mt-3">
	                <div class="row">
	                    <div th:each="reserva : ${listaReservas}" class="col-lg-12"> <!--Si a la hora de usar thymeleaf da problema esta parte creando las fichas, probar a poner el th:each antes, como esta puesta en las reservas programadas. o si no, poner el th:each en el div que está a continuación. -->
				            <div  class="col-lg-12 border p-3 sombra rounded border-1 bg-white">
				                <div class="row">
				                    <span class="col-12 text-primary text-center">🔵 Realizada</span>
				                    <span th:text="${#temporals.format(reserva.fechaReserva, 'dd-MMM-yyyy')}" class="col-12 pl-3 pt-3 text-center">26 de mayo, 2018</span>
				                	<span th:text="${reserva.horaInicio + ', 90 minutos'}" class="col-12 pl-3 pt-3 text-center">09:00</span>
				                    <span th:text="${reserva.pista.nombre}" class="col-12 pl-3 pt-3 text-center"> Aula de informática</span>
				                </div>
				            </div>
	            			<div class="col-lg-2"></div>
	        			</div>
	        		</div>
	            </div>
	    </div>
	</section>
    <!-- Footer -->
    <footer class="row justify-content-center mt-3 reserva" th:fragment="footer">
        <div class="col-md-5 text-center">
            <span class="h4 text-uppercase pl-2">Salesianos de Triana</span>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab, fugiat in. Saepe, cumque. Fugit quasi neque
                sapiente inventore aliquid blanditiis consequatur sint facere. Exercitationem, amet.</p>

        </div>
    </footer>
</body>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</html>