body{
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    color: #505962;
}

/* Por debajo de 700px */
    @media screen and (max-width: 700px){
        .caption h1{
        font-size:30px;
        }
        .caption h3{
        font-size: 23px;
        }
        #presentacion p{
            font-size: 1.3rem;
        }
        #titForm{
            font-size:28px;
        }

        
    }

.navbar, .reserva{
	background: #DE6262;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #FFB88C, #DE6262);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #FFB88C, #DE6262); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.row {
    width: 100%;
    margin:50px;
    padding-left: 100px;
}
.escala, img:hover{
    transform: scale(1.2);   

}
.escala, img{
    transform: scale(1);
    transition: 0.3s;
    
}
.row img{
    margin: 20px;
}

.escala, h3{
    padding-left: 30px;
}
.activo{
    color: coral;
}

.sombra{
	-webkit-box-shadow: 10px 10px 5px 0px #DE6262;
	-moz-box-shadow: 10px 10px 5px 0px #DE6262;
	box-shadow: 10px 10px 5px 0px #DE6262;
}

.lineaHor { 
    border: 0; 
    height: 2px; 
    background-image: -webkit-linear-gradient(left, #FFB88C, #DE6262, #FFB88C);
  }
  section{
    margin-left: 100px;
    padding-top: 50px;
}
.navbar{
    font-weight: bold;
}
.espana{
    margin-left: 40%;
    padding-right:0px;
}
.britana{
    padding-left:0px;
}