<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Tus Reservas</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/adminStyl.css" th:href="@{/css/adminStyl.css}">
</head>
<body>
        <header>
          <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top text-uppercase">
            <ul class="navbar-nav ml-auto my-3 my-lg-0">
              <li class="nav-item">
				<a class="nav-link js-scroll-trigger" th:href="@{/inicio}">
					<span sec:authentication="name"></span>
				</a>
			  </li>
              <li class="nav-item"><a class="nav-link js-scroll-trigger" th:href="@{/logout}" th:text="#{c.sesion}">Cerrar sesión</a></li>
              <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#portfolio"
                  th:href="@{/reservarespacio}" th:text="#{agr.reserva}">Añadir Reserva</a></li>
              <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contact"
                  th:href="@{/gestionUsuariosVerificados}">Admin</a></li>
            </ul>
            <div class="espana">
              <a class="nav-link js-scroll-trigger pr-3" href="#" th:href="@{?lang=es}"><img
                src="../static/img/espana.png" th:src="@{/img/espana.png}"></a>
            </div>
            <div class="britana">
            <a class="nav-link js-scroll-trigger pl-0" href="#" th:href="@{?lang=en}"><img
                src="../static/img/reinoUnido.png" th:src="@{/img/reinoUnido.png}"></a></div>
            </div>
            <div class="collapse navbar-collapse" id="navbarResponsive"></div>
          </nav>
        </header>
    <section>
            <div class="row escala">
                    <div class="col-md-4" >
                      <a href="menuAdmin.html" th:href="@{/gestionUsuariosVerificados}"><img src="../static/img/multiple-users-silhouette.png" th:src="@{/img/multiple-users-silhouette.png}" left></a>
                        <h3 th:text="#{usuarios}">Usuarios</h3>
                    </div>
                    <div class="col-md-4">
                      <a href="menuAdmin2.html" th:href="@{/listaulas}"><img src="../static/img/open-book.png" th:src="@{/img/open-book.png}"></a>
                        <h3 th:text="#{espacios}">Espacios</h3>
                    </div>
                    <div class="col-md-4">
                      <a href="menuAdmin3.html" th:href="@{/gestionReservasPendientes}"><img src="../static/img/content.png" th:src="@{/img/content.png}"></a>
                        <h3 class="activo" th:text="#{reservas}">Reservas</h3>
                    </div>
            </div>

            <div class="row">
              <div class=" col-lg-2 ">
                <a href="gestionReservasFinalizadas.html" th:href="@{/gestionReservasFinalizadas}" class="mx-auto nav-link text-secondary h5">
                  <button type="button" class="btn mx-auto reserva text-white" data-dismiss="modal" th:text="#{fin.reservas}">Reservas finalizadas</button>
                  </a>
                </div>
                
                <div class="col-lg-2">
                  <a href="#" th:href="@{/gestionDiasHabiles}" class="mx-auto nav-link text-secondary h5">
                  <button type="button" class="btn mx-auto reserva text-white" data-dismiss="modal" th:text="#{habiles}">Dias hábiles</button>
                </a>
            </div>
            <div class="col-lg-2">
                  <a href="#" th:href="@{/gestionFechasEspeciales}" class="mx-auto nav-link text-secondary h5">
                  <button type="button" class="btn mx-auto reserva text-white" data-dismiss="modal" th:text="#{f.especiales}">Fechas Especiales</button>
                </a>
                </div>
            </div>
            
            <h2 th:text="#{habiles}">Días habiles</h2>
            <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col" th:text="#{day}">Día</th>
                        <th scope="col" th:text="#{habil}">Hábil</th>
                      </tr>
                    </thead>
                    <tbody>
                    	<tr th:each="dia : ${listaDias}">
						    <td th:text="${dia.diaNoHabil}">Luismi</td>
							<td th:text="${dia.habilitado}">AULA007</td>
                            <td th:if="${dia.habilitado == true}"><a href="#" th:href="@{/deshabilitarDia/{id}(id=${dia.id})}">
                                <button type="button" class="btn btn-danger">Deshabilitar</button>
                            </a></td>
                            <td th:if="${dia.habilitado != true}"><a href="#" th:href="@{/habilitarDia/{id}(id=${dia.id})}">
                                <button type="button" class="btn btn-success">Habilitar</button>
                            </a></td>
								
						</tr>
                 
                    </tbody>
                  </table>



    </section>


</body>

</html>