<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Tus Reservas</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/adminStyl.css" th:href="@{/css/adminStyl.css}">
</head>
<body>
        <header>
          <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top text-uppercase">
            <ul class="navbar-nav ml-auto my-3 my-lg-0">
              <li class="nav-item">
				<a class="nav-link js-scroll-trigger" th:href="@{/inicio}">
					<span sec:authentication="name"></span>
				</a>
			  </li>
              <li class="nav-item"><a class="nav-link js-scroll-trigger" th:href="@{/logout}" th:text="#{c.sesion}">Cerrar sesión</a></li>
              <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#portfolio"
                  th:href="@{/reservarespacio}" th:text="#{agr.reserva}">Añadir Reserva</a></li>
              <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contact"
                  th:href="@{/gestionUsuariosVerificados}">Admin</a></li>
            </ul>
            <div class="espana">
              <a class="nav-link js-scroll-trigger pr-3" href="#" th:href="@{?lang=es}"><img
                src="../static/img/espana.png" th:src="@{/img/espana.png}"></a>
            </div>
            <div class="britana">
            <a class="nav-link js-scroll-trigger pl-0" href="#" th:href="@{?lang=en}"><img
                src="../static/img/reinoUnido.png" th:src="@{/img/reinoUnido.png}"></a></div>
            </div>
            <div class="collapse navbar-collapse" id="navbarResponsive"></div>
          </nav>
        </header>
    <section>
            <div class="row escala">
                    <div class="col-md-4" >
                      <a href="menuAdmin.html" th:href="@{/gestionUsuariosVerificados}"><img src="../static/img/multiple-users-silhouette.png" th:src="@{/img/multiple-users-silhouette.png}" left></a>
                        <h3 th:text="#{usuarios}">Usuarios</h3>
                    </div>
                    <div class="col-md-4">
                      <a href="menuAdmin2.html" th:href="@{/listaulas}"><img src="../static/img/open-book.png" th:src="@{/img/open-book.png}"></a>
                        <h3 th:text="#{espacios}">Espacios</h3>
                    </div>
                    <div class="col-md-4">
                      <a href="menuAdmin3.html" th:href="@{/gestionReservasPendientes}"><img src="../static/img/content.png" th:src="@{/img/content.png}"></a>
                        <h3 class="activo" th:text="#{reservas}">Reservas</h3>
                    </div>
            </div>
            
            <div class="row">
	        	<div class=" col-lg-2 ">
		        	<a href="gestionReservasPendientes.html" th:href="@{/gestionReservasPendientes}" class="mx-auto nav-link text-secondary h5">
		        		<button type="button" class="btn mx-auto reserva text-white" data-dismiss="modal" th:text="#{reservas_pendientes}">Reservas pendientes</button>
	            	</a>
              </div>
              <div class="col-lg-2">
                <a href="#" th:href="@{/gestionDiasHabiles}" class="mx-auto nav-link text-secondary h5">
                <button type="button" class="btn mx-auto reserva text-white" data-dismiss="modal" th:text="#{habiles}">Dias hábiles</button>
              </a>
          </div>
          <div class="col-lg-2">
                <a href="#" th:href="@{/gestionFechasEspeciales}" class="mx-auto nav-link text-secondary h5">
                <button type="button" class="btn mx-auto reserva text-white" data-dismiss="modal" th:text="#{f.especiales}">Fechas Especiales</button>
              </a>
              </div>
        	</div>
            
            <h2 th:text="#{lista_finalizadas}">Lista de reservas finalizadas</h2>
            <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col" th:text="#{id}">Id</th>
                        <th scope="col" th:text="#{profesor}">Profesor</th>
                        <th scope="col" th:text="#{clase}">Aula</th>
                        <th scope="col" th:text="#{fecha}">Fecha</th>
                        <th scope="col" th:text="#{hora1}">Hora</th>
                      </tr>
                    </thead>
                    <tbody>
                    	<tr th:each="reserva : ${listaReservas}">
								<td th:text="${reserva.id}">0</td>
								<td th:text="${reserva.usuario.nombre}">Luismi</td>
								<td th:text="${reserva.espacio.nombreAula}">AULA007</td>
                <td th:text="${#temporals.format(reserva.fecha, 'dd-MMM-yyyy')}">Fecha</td>
                <td th:text="${reserva.hora}">Hora</td>
								
						</tr>
                 
                    </tbody>
            </table>
            
            <div class="row pl-0 pr-5">
					<div th:if="${listaReservas.totalPages != 1}"
						class="form-group col-md-12 pagination-centered pr-5">
						<ul class="pagination justify-content-center pr-5">
							<!-- Si el número de página es cero, deshabilitamos el enlace -->
							<li class="page-item" th:class="${listaReservas.number == 0} ? disabled">
								<!-- Este enlace nos debe llevar a la primera página, con el tamaño de página actual -->
								<a class="page-link bg-light border-dark"
								th:href="@{/gestionReservasFinalizadas/(pageSize=${selectedPageSize}, page=1)}">&laquo;</a>
							</li>
							<!-- Si el número de página es cero, deshabilitamos el enlace -->
							<li class="page-item" th:class="${listaReservas.number == 0} ? disabled">
								<!-- Este enlace nos debe llevar a la página anterior, con el tamaño de página actual -->
								<a class="page-link bg-light border border-dark"
								th:href="@{/gestionReservasFinalizadas/(pageSize=${selectedPageSize}, page=${listaReservas.number})}">&larr;</a>
							</li>
							<!-- Este bucle genera los enlaces para las demás páginas -->
							<li class="page-item"
								th:class="${listaReservas.number == (page - 1)} ? 'active pointer-disabled'"
								th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
								<a class="page-link bg-light border-dark"
								th:href="@{/gestionReservasFinalizadas/(pageSize=${selectedPageSize}, page=${page})}"
								th:text="${page}"></a>
							</li>
							<!-- Enlace a la siguiente página; si estamos en la última queda desabilitado  -->
							<li class="page-item"
								th:class="${listaReservas.number + 1 == listaReservas.totalPages} ? disabled">
								<a class="page-link bg-light border-dark"
								th:href="@{/gestionReservasFinalizadas/(pageSize=${selectedPageSize}, page=${listaReservas.number + 2})}">&rarr;</a>
							</li>
							<!-- Enlace a la última página; si estamos en la última queda desabilitado  -->
							<li class="page-item"
								th:class="${listaReservas.number + 1 == listaReservas.totalPages} ? disabled">
								<a class="page-link bg-light border-dark"
								th:href="@{/gestionReservasFinalizadas/(pageSize=${selectedPageSize}, page=${listaReservas.totalPages})}">&raquo;</a>
							</li>
						</ul>
					</div>
			</div>



    </section>


</body>

</html>