<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="../static/css/loginStyl.css" th:href="@{/css/loginStyl.css}"  type="text/css"  >
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
    <body>
            <section class="login-block">
                    <div class="container">
                    <div class="row">
                        <div class="col-md-4 login-sec">
                            <img src="../static/img/university.png" th:src="@{/img/university.png}" middle>
                            <form class="login-form" method="POST" action="#" th:action="@{/login}">
                  <div class="form-group" >
                    <label for="exampleInputEmail1" class="text-uppercase" th:text="#{usuario}">Username</label>
                    <input type="email" name="username" class="form-control" placeholder="">
                    
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1" class="text-uppercase" th:text="#{pass}">Password</label>
                    <input type="password" name="password" id="password" class="form-control" placeholder="">
                  </div>
                  
                  
                  <div class="form-check">                        
                    <input type="submit" class="btn btn-login" value="Iniciar Sesión" th:value="#{entrar}">
                  </div>
                </form>
                
                    <div class="copy-text">
                        <a href="registro.html" th:href="@{/registro}"><button type="button" class="btn btn-login float-right" th:text="#{registrar}">Registrarse</button></a>
                    </div>
                        </div>
                    <div class="col-md-8 banner-sec">
                             
                            
                    </div>
                  
                    </div>
                </div>
            </section>

    </body>

</html>