﻿<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<title>Tus Reservas</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" href="../static/css/adminStyl.css"
	th:href="@{/css/adminStyl.css}">
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top text-uppercase">
			<ul class="navbar-nav ml-auto my-3 my-lg-0">
				<li class="nav-item">
					<a class="nav-link js-scroll-trigger" th:href="@{/inicio}">
						<span sec:authentication="name"></span>
					</a>
				</li>
				<li class="nav-item"><a class="nav-link js-scroll-trigger" th:href="@{/logout}" th:text="#{c.sesion}">Cerrar sesión</a></li>
				<li class="nav-item"><a class="nav-link js-scroll-trigger" href="#portfolio"
						th:href="@{/reservarespacio}" th:text="#{agr.reserva}">Añadir Reserva</a></li>
				<li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contact"
						th:href="@{/gestionUsuariosVerificados}">Admin</a></li>
			</ul>
			<div class="espana">
				<a class="nav-link js-scroll-trigger pr-3" href="#" th:href="@{?lang=es}"><img
					src="../static/img/espana.png" th:src="@{/img/espana.png}"></a>
			</div>
			<div class="britana">
			<a class="nav-link js-scroll-trigger pl-0" href="#" th:href="@{?lang=en}"><img
					src="../static/img/reinoUnido.png" th:src="@{/img/reinoUnido.png}"></a></div>
			</div>
			<div class="collapse navbar-collapse" id="navbarResponsive"></div>
		</nav>
	</header>
	<section>
		<div class="row escala">
			<div class="col-md-4">
				<a href="menuAdmin.html" th:href="@{/gestionUsuariosVerificados}"><img
					src="../static/img/multiple-users-silhouette.png"
					th:src="@{/img/multiple-users-silhouette.png}" left></a>
				<h3 th:text="#{usuarios}">Usuarios</h3>
			</div>
			<div class="col-md-4">
				<a href="menuAdmin2.html" th:href="@{/listaulas}"><img
					src="../static/img/open-book.png" th:src="@{/img/open-book.png}"></a>
				<h3 class="activo" th:text="#{espacios}">Espacios</h3>
			</div>
			<div class="col-md-4">
				<a href="menuAdmin3.html" th:href="@{/gestionReservasPendientes}"><img
					src="../static/img/content.png" th:src="@{/img/content.png}"></a>
				<h3 th:text="#{reservas}">Reservas</h3>
			</div>
		</div>

		<h2 th:text="#{lista_clases}">Lista de aulas</h2>
		<a href=registroAula.html th:href="@{/formAula}">
			<button type="button" class="btn btn-success" th:text="#{agregar_clase}">Añadir</button>
		</a>
		
		<table class="table table-striped">
			<thead>
				<tr>

					<th scope="col" th:text="#{colegio}">Nombre del colegio</th>
					<th scope="col" th:text="#{nombre_clase}">Nombre del aulas</th>
					<th scope="col" th:text="#{aforo}">Aforo</th>
					<th scope="col" th:text="#{num_equipos}">Número Equipos</th>
					<th scope="col" th:text="#{disponible}">Disponible</th>

				</tr>
			</thead>
			<tbody>
				<tr th:each="espacio : ${listaAulas}">
					<td th:text=${espacio.nombreColegio}></td>
					<td th:text=${espacio.nombreAula}></td>
					<td th:text=${espacio.aforo}></td>
					<td th:text=${espacio.numEquipos}></td>
					<td th:text=${espacio.disponible}></td>

					<td><a href="#"
						th:href="@{/editarAula/{id}(id=${espacio.id})}">
							<button type="button" class="btn btn-warning" th:text="#{editar}">Editar</button>
					</a></td>
					<td th:if="${espacio.disponible == true}"><a href="#" th:href="@{/deshabilitarEspacio/{id}(id=${espacio.id})}">
						<button type="button" class="btn btn-danger" th:text="#{deshabilitar}">Deshabilitar</button>
					</a></td>
					<td th:if="${espacio.disponible != true}"><a href="#" th:href="@{/habilitarEspacio/{id}(id=${espacio.id})}">
						<button type="button" class="btn btn-success" th:text="#{habilitar}">Habilitar</button>
					</a></td>
			</tbody>
		</table>
		
		<div class="row pl-0 pr-5">
					<div th:if="${listaAulas.totalPages != 1}"
						class="form-group col-md-12 pagination-centered pr-5">
						<ul class="pagination justify-content-center pr-5">
							<!-- Si el número de página es cero, deshabilitamos el enlace -->
							<li class="page-item" th:class="${listaAulas.number == 0} ? disabled">
								<!-- Este enlace nos debe llevar a la primera página, con el tamaño de página actual -->
								<a class="page-link bg-light border-dark"
								th:href="@{/listaulas/(pageSize=${selectedPageSize}, page=1)}">&laquo;</a>
							</li>
							<!-- Si el número de página es cero, deshabilitamos el enlace -->
							<li class="page-item" th:class="${listaAulas.number == 0} ? disabled">
								<!-- Este enlace nos debe llevar a la página anterior, con el tamaño de página actual -->
								<a class="page-link bg-light border border-dark"
								th:href="@{/listaulas/(pageSize=${selectedPageSize}, page=${listaAulas.number})}">&larr;</a>
							</li>
							<!-- Este bucle genera los enlaces para las demás páginas -->
							<li class="page-item"
								th:class="${listaAulas.number == (page - 1)} ? 'active pointer-disabled'"
								th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
								<a class="page-link bg-light border-dark"
								th:href="@{/listaulas/(pageSize=${selectedPageSize}, page=${page})}"
								th:text="${page}"></a>
							</li>
							<!-- Enlace a la siguiente página; si estamos en la última queda desabilitado  -->
							<li class="page-item"
								th:class="${listaAulas.number + 1 == listaAulas.totalPages} ? disabled">
								<a class="page-link bg-light border-dark"
								th:href="@{/listaulas/(pageSize=${selectedPageSize}, page=${listaAulas.number + 2})}">&rarr;</a>
							</li>
							<!-- Enlace a la última página; si estamos en la última queda desabilitado  -->
							<li class="page-item"
								th:class="${listaAulas.number + 1 == listaAulas.totalPages} ? disabled">
								<a class="page-link bg-light border-dark"
								th:href="@{/listaulas/(pageSize=${selectedPageSize}, page=${listaAulas.totalPages})}">&raquo;</a>
							</li>
						</ul>
					</div>
		</div>



	</section>


</body>

</html>