<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link  rel="stylesheet" href="../static/css/registroStyl.css"  th:href="@{/css/registroStyl.css}">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
    <body>
            <section class="login-block">
                    <div class="container">
                    <div class="row">
                        <div class="col-md-4 login-sec">
                            <img src="../static/img/university.png" th:src="@{/img/university.png}" middle>
                            <form class="login-form" th:action="addUsuario" th:object="${usuarioForm}" method="POST">
                                    
                                        
                                    <div class="form-group">
                                        <input type="text" class="form-control" th:placeholder="#{r.nombre}" th:field="*{nombre}" />
                                    </div>
                                    <div class="form-group">
                                            <input type="text" class="form-control" th:placeholder="#{r.apellidos}" th:field="*{apellidos}" />
                                        </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control" th:placeholder="#{r.email}" th:field="*{email}"  />
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" th:placeholder="#{r.departamento}" th:field="*{departamento}" />
                                    </div>

                                    <div class="form-group">
                                        <input type="password" class="form-control" th:placeholder="#{r.pass}" th:field="*{password}" />
                                    </div>
                                    <div class="copy-text">
                                            <button type="submit" value="Submit" class="btn btn-login float-right" th:text="#{send}">Enviar</button>
                                   </div>
                                </form>
                               
                    </div>
                    <div class="col-md-8 banner-sec">
                             
                            
                    </div>
                </div>
            </section>

    </body>

</html>