<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<title>Tus Reservas</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" href="../static/css/adminStyl.css"
	th:href="@{/css/adminStyl.css}">
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top text-uppercase">
			<ul class="navbar-nav ml-auto my-3 my-lg-0">
				<li class="nav-item">
					<a class="nav-link js-scroll-trigger" th:href="@{/inicio}">
						<span sec:authentication="name"></span>
					</a>
				</li>
				<li class="nav-item"><a class="nav-link js-scroll-trigger" th:href="@{/logout}" th:text="#{c.sesion}">Cerrar sesión</a></li>
				<li class="nav-item"><a class="nav-link js-scroll-trigger" href="#portfolio"
						th:href="@{/reservarespacio}" th:text="#{agr.reserva}">Añadir Reserva</a></li>
				<li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contact"
						th:href="@{/gestionUsuariosVerificados}">Admin</a></li>
			</ul>
			<div class="espana">
				<a class="nav-link js-scroll-trigger pr-3" href="#" th:href="@{?lang=es}"><img
					src="../static/img/espana.png" th:src="@{/img/espana.png}"></a>
			</div>
			<div class="britana">
			<a class="nav-link js-scroll-trigger pl-0" href="#" th:href="@{?lang=en}"><img
					src="../static/img/reinoUnido.png" th:src="@{/img/reinoUnido.png}"></a></div>
			</div>
			<div class="collapse navbar-collapse" id="navbarResponsive"></div>
		</nav>
	</header>

		<div class="row escala">
			<div class="col-md-4">
				<a href="menuAdmin.html" th:href="@{/gestionUsuariosVerificados}"><img
					src="../static/img/multiple-users-silhouette.png"
					th:src="@{/img/multiple-users-silhouette.png}" left></a>
				<h3 th:text="#{usuarios}">Usuarios</h3>
			</div>
			<div class="col-md-4">
				<a href="menuAdmin2.html" th:href="@{/listaulas}"><img
					src="../static/img/open-book.png" th:src="@{/img/open-book.png}"></a>
				<h3 class="activo" th:text="#{espacios}">Espacios</h3>
			</div>
			<div class="col-md-4">
				<a href="menuAdmin3.html" th:href="@{/gestionReservasPendientes}"><img
					src="../static/img/content.png" th:src="@{/img/content.png}"></a>
				<h3 th:text="#{reservas}">Reservas</h3>
			</div>
		</div>
		
		
			<section class="login-block">
				<div class="row">
					<div class="col-md-4 login-sec">
					<h2 th:text="#{agr_aula}">Añadir aula</h2>
						<form class="login-form" 
							th:object="${EspacioForm}" th:action="${EspacioForm.id != 0} ? @{/editarAula/submit} : @{/addAula}" method="POST">
						<input th:if="${EspacioForm.id != 0}" type="hidden" name="id" th:field="*{id}" />

							<div class="form-group">
								<label><span th:text="#{colegio}"></span></label>
								<input type="text" class="form-control"
									th:field="*{nombreColegio}" required="" />
							</div>
							<div class="form-group">
								<label><span th:text="#{nombre_aula}"></span></label>
								<input type="text" class="form-control"
									th:field="*{nombreAula}" required="" />
							</div>
							<div class="form-group">
								<label><span th:text="#{aforo}"></span></label>
								<input type="text" class="form-control"
									th:field="*{aforo}" />
							</div>
							<div class="form-group">
								<label><span th:text="#{num_equipos}"></span></label>
								<input type="text" class="form-control"
									th:field="*{numEquipos}"  />
							</div>

							<div class="copy-text">
								<button type="submit" value="Submit"
									class="btn btn-success float-center" th:text="#{send}">Enviar</button>
							</div>
						</form>

					</div>

				</div>
			</section>


		</body>
</html>