<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Reservar Aula</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
</head>

<body data-spy="scroll" data-target="#navbarResponsive">

    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top text-uppercase">
			<ul class="navbar-nav ml-auto my-3 my-lg-0">
				<li class="nav-item">
					<a class="nav-link js-scroll-trigger" th:href="@{/inicio}">
						<span sec:authentication="name"></span>
					</a>
				</li>
				<li class="nav-item"><a class="nav-link js-scroll-trigger" th:href="@{/logout}" th:text="#{c.sesion}">Cerrar sesión</a></li>
				<li class="nav-item"><a class="nav-link js-scroll-trigger" href="#portfolio"
						th:href="@{/reservarespacio}" th:text="#{agr.reserva}">Añadir Reserva</a></li>
				<li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contact"
						th:href="@{/gestionUsuariosVerificados}" sec:authorize="hasRole('ROLE_ADMIN')">Admin</a></li>
			</ul>
			<div class="espana">
				<a class="nav-link js-scroll-trigger pr-3" href="#" th:href="@{?lang=es}"><img
					src="../static/img/espana.png" th:src="@{/img/espana.png}"></a>
			</div>
			<div class="britana">
			<a class="nav-link js-scroll-trigger pl-0" href="#" th:href="@{?lang=en}"><img
					src="../static/img/reinoUnido.png" th:src="@{/img/reinoUnido.png}"></a></div>
			</div>
			<div class="collapse navbar-collapse" id="navbarResponsive"></div>
		</nav>
    </header>

	<section class="col-12 mt-0 container-fluid">
	    <div class="row justify-content-center pt-5 mt-5">
            <div class="col-4 bg-danger p-3 text-center rounded">
                <p class="text-white h6" th:text="#{no_disponible}">Lo sentimos no quedan reservas disponibles para ese día y hora</p>
            </div>
        </div>
		<div class="row justify-content-center mt-5">
			<div class="col-12 col-md-7 col-lg-4 border p-5 sombra rounded border-1 bg-white mb-5">
				<form method="POST" th:action="reservarHora" th:object="${reservaNueva}">
					<div>
						<h3 id="titForm" class="display-5 font-weight-bold text-uppercase text-center" th:text="#{reservar}">reservar aula</h3>
					</div>
					<hr class="lineaHor2 w-25 mb-3">

					<div class="form-group">
						<label for="formGroupExampleInput2" th:text="#{dia}">Dia de la reserva</label>
						<input type="date" th:field="*{fecha}" class="form-control border pl-0 bg-white" id="diaReserva" value="2019-09-21" min="2019-09-21" max="2019-12-31">
						<hr class="lineaHor2">
					</div>

					<div class="form-group">
						<label for="formGroupExampleInput" th:text="#{hora}">Hora de la reserva</label>
						<select class="form-control border pl-0" placeholder="- -" th:field="*{hora}">
							<option th:each="hora : ${listaRangoHorario}" th:value="${hora}" th:text="${hora}"></option>
						</select>
						<hr class="lineaHor2">
                    </div>
                    
                    <div class="form-group">
						<label for="formGroupExampleInput" th:text="#{aula}">Aula disponible</label>
						<select class="form-control border pl-0" placeholder="- -"
                        readonly>
							<option ></option>
						</select>
						<hr class="lineaHor2">
					</div>

					<div class="row pt-4 justify-content-center">
						<button type="submit" id="btnform" class="reserva btn btn-outline-light btn-md col-8" th:text="#{consultar}">Consultar disponibilidad</button>
					</div>
				</form>
			</div>
	</section>
    <!-- Footer -->
    <footer class="row justify-content-center mt-3 reserva" th:fragment="footer">
        <div class="col-md-5 text-center mt-3">
            <span class="h4 text-uppercase pl-2">Salesianos de Triana</span>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab, fugiat in. Saepe, cumque. Fugit quasi neque
                sapiente inventore aliquid blanditiis consequatur sint facere. Exercitationem, amet.</p>

        </div>
    </footer>
</body>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</html>