<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Tus Reservas</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
</head>

<body data-spy="scroll" data-target="#navbarResponsive">

    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top text-uppercase">
			<ul class="navbar-nav ml-auto my-3 my-lg-0">
				<li class="nav-item">
					<a class="nav-link js-scroll-trigger" th:href="@{/inicio}">
						<span sec:authentication="name"></span>
					</a>
				</li>
				<li class="nav-item"><a class="nav-link js-scroll-trigger" th:href="@{/logout}" th:text="#{c.sesion}">Cerrar sesión</a></li>
				<li class="nav-item"><a class="nav-link js-scroll-trigger" href="#portfolio"
						th:href="@{/reservarespacio}" th:text="#{agr.reserva}">Añadir Reserva</a></li>
				<li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contact"
						th:href="@{/gestionUsuariosVerificados}" 
						sec:authorize="hasRole('ROLE_ADMIN')">Admin</a></li>
			</ul>
			<div class="espana">
				<a class="nav-link js-scroll-trigger pr-3" href="#" th:href="@{?lang=es}"><img
					src="../static/img/espana.png" th:src="@{/img/espana.png}"></a>
			</div>
			<div class="britana">
			<a class="nav-link js-scroll-trigger pl-0" href="#" th:href="@{?lang=en}"><img
					src="../static/img/reinoUnido.png" th:src="@{/img/reinoUnido.png}"></a></div>
			</div>
			<div class="collapse navbar-collapse" id="navbarResponsive"></div>
		</nav>
    </header>

	<section class="col-12 mt-0 container-fluid">
	    <div class="row justify-content-center">
	        <div class="col-md-5 text-center mt-4">
	            <h3 class="display-5 font-weight-bold text-uppercase pt-5 mt-3" th:text="#{tipo_reserva}">reservas programadas</h3>
	            <hr class="lineaHor">
	        </div>
	    </div>

	    <div class="row" id="addReserva">
	        <div class=" col-lg-2"></div>
	        
	        <div class=" col-lg-2 ">
	        	<a href="reservar.html" th:href="@{/reservarespacio}" class="mx-auto nav-link text-secondary h5">
	        		<button type="button" class="btn mx-auto reserva text-white" data-dismiss="modal"><img src="../static/img/mas.png" th:src="@{/img/mas.png}" class="pr-2" th:text="#{agregar_reserva}"></button>
	        	</a>
	        </div>
	        
	        <div class=" col-lg-2"></div>
	        
	        <div class=" col-lg-2 ">
		        <a href="aulasDisponibles.html" th:href="@{/aulas}" class="mx-auto nav-link text-secondary h5">
		        	<button type="button" class="btn mx-auto reserva text-white" data-dismiss="modal" th:text="#{ver_aulas}">Ver aulas</button>
	            </a>
	        </div>
	    </div>

	    <div class="row justify-content-center">
	            <div class="col-lg-4 mt-3" th:each="reserva : ${listaReservas}">
	                <div class="row">
	                    <div class="col-lg-12">
				            <div  class="col-lg-12 border p-3 sombra rounded border-1 bg-white">
				                <div class="row">
				                    <span class="col-12 text-primary text-center" th:text="#{pendientes}">🔵 Pendiente</span>
				                    <span th:text="${#temporals.format(reserva.fecha, 'dd-MMM-yyyy')}" class="col-12 pl-3 pt-3 text-center">26 de mayo, 2018</span>
				                	<span th:text="${reserva.hora}" class="col-12 pl-3 pt-3 text-center">09:00</span>
				                    <span th:text="${reserva.espacio.nombreAula}" class="col-12 pl-3 pt-3 text-center"> Aula de informática</span>
				                    <span class="col-12 pl-3 pt-3 text-center"> 
				                    	<a href="#" th:href="@{tusreservas.html}" data-toggle="modal"
										data-target="#modalBorrar" th:attr="data-target='#modalBorrar'+${reserva.id}">
				                    		<button type="button" class="btn reserva" th:text="#{eliminar}">Eliminar</button>
										</a>
										<!--Modal Borrar Usuario-->

										<div class="modal fade" id="modalBorrar" th:id="modalBorrar+${reserva.id}">
											<div class="modal-dialog modal-dialog-centered">
												<div class="modal-content">
				
													<!-- Modal Header -->
													<div class="modal-header">
														<h4 class="modal-title" th:text="#{seguro}">¿Estás seguro?</h4>
														<button type="button" class="close" data-dismiss="modal">&times;</button>
													</div>
				
													<!-- Modal footer -->
													<div class="modal-footer">
				
														<a th:href="@{/borrarReserva/{id}(id=${reserva.id})}"><button type="button"
																th:text="#{eliminar}">Eliminar</button></a>
													</div>
												</div>
											</div>
										</div>
				                    </span>
				                </div>
				            </div>
	            			<div class="col-lg-2"></div>
	        			</div>
	        		</div>
	            </div>


	    </div>

	    <div class="row justify-content-center">
	        <div class="col-md-5 text-center">
	            <h3 class="display-5  font-weight-bold text-uppercase pt-5 " th:text="#{tipo_reserva2}">reservas realizadas</h3>
	            <hr class="lineaHor">
	        </div>
	    </div>

		<div class="row justify-content-center">
			<div class="col-lg-3 mt-3" th:each="reserva : ${listaReservasPasadas}">
				<div class="row">
					<div class="col-lg-12">
						<div  class="col-lg-12 border p-3 sombra rounded border-1 bg-white">
							<div class="row">
								<span class="col-12 text-primary text-center" th:text="#{pasadas}">❌ Pasadas</span>
								<span th:text="${#temporals.format(reserva.fecha, 'dd-MMM-yyyy')}" class="col-12 pl-3 pt-3 text-center">26 de mayo, 2018</span>
								<span th:text="${reserva.hora}" class="col-12 pl-3 pt-3 text-center">09:00</span>
								<span th:text="${reserva.espacio.nombreAula}" class="col-12 pl-3 pt-3 text-center"> Aula de informática</span>
								<span class="col-12 pl-3 pt-3 text-center"> 
								</span>
							</div>
						</div>
						<div class="col-lg-2"></div>
					</div>
				</div>
			</div>


	</div>
	</section>
    <!-- Footer -->
    <footer class="row justify-content-center mt-3 reserva" th:fragment="footer">
        <div class="col-md-5 text-center mt-3">
            <span class="h4 text-uppercase pl-2">Salesianos de Triana</span>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab, fugiat in. Saepe, cumque. Fugit quasi neque
                sapiente inventore aliquid blanditiis consequatur sint facere. Exercitationem, amet.</p>

        </div>
    </footer>
</body>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</html>